<html>
<head>
    <title>Sockets</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="static/app.js"></script>
    <style>
        .font {
            font-family: 'Poppins', sans-serif;
        }
        #form-container {
            
            height: fit-content;
        }
        #details {
            height: fit-content;
        }

        #container {
            height: 40vh;
        }
    </style>
</head>
<body class="bg bg-secondary w-100  p-3">
    <div id="container" class="d-flex justify-content-start flex-column align-items-center bg bg-warning w-75 rounded">
       <form action="/register" method="post" class="bg bg-primary rounded w-50 p-3 mt-3" id="register">
            <p class="font fs-4">Register</p>
            <input type="text" name="f_name" class="form-control my-2 font" placeholder="Name">
            <input type="email" name="email" class="form-control my-2 font" placeholder="Email Address">
            <input type="password" name="password" class="form-control my-2 font" placeholder="Passord">

            <button class="btn btn-warning font" type="submit">Submit</button>
       </form>
    </div>

    <div id="container" class="d-flex justify-content-start flex-column align-items-center bg bg-warning w-75 rounded">
       <form action="/login" method="post" class="bg bg-primary rounded w-50 p-3 mt-3" id="login">
            <p class="font fs-4">Login</p>
            <input type="email" name="email" class="form-control my-2 font" placeholder="Email Address">
            <input type="password" name="password" class="form-control my-2 font" placeholder="Passord">

            <button class="btn btn-warning font" type="submit">Submit</button>
       </form>
       
    </div>
    
</body>
</html>